<div class= <%= "about" %>>

	<% if @error != nil %>
	  <b>Error: <%= @error %></b> 
	<% end %>

	<div class='about-title'>
		<h3> A world without photo graphics? </h3>
	</div>

	<div class='about-container'>
		<div class='row'>
			<div class='col-sm-8'>
				I have always been interested in photography for most of my life.
				I started using some old box camera that my parents had.  I remember
				when I received a Polaroid camera for my birthday when I was in the
				6th grade.  I thought this was the best gift I had ever received.
				My first SLR film camera was a Minolta.  I later bought Minolta
				Maxxum 9 in 2003.  The digital cameras quickly where the camera to
				have.  I purchased Minolta's digital camera and in 2010 I upgraded to
				a new Sony digital camera.  I still shoot some film, but I am hooked
				on the digital cameras.  I consider myself as an amateur photographer,
				I enjoy getting out and photographing where ever I go.  I find it
				very relaxing, at times I just lost in my world when I am out
				capturing my little piece of the world on film, or on a flash card.
				Where would be without photographs?  
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<p>
		<a class='btn btn-success btn-sm'
			href="/index">
			Back
		</a>
	</p>

</div>