<h1>Administration</h1>



<li>Test pictures
	<a class='btn btn-success btn-sm'
	href="/test_pictures">
	Test Pictures</a></li>
<br>



<p>
	<a class='btn btn-success btn-sm'
		href="/pic_category">
		Back &gt;&gt;
	</a>

	<a class='btn btn-success btn-sm'
			href="/index">
			Home &gt;&gt;
	</a>
</p>