<h1>Administration</h1>

<ul>
	<li>Test pictures
		<a class='btn btn-success btn-sm'
			href="/test_pictures">
			Test Pictures</a></li>
</ul>
<br>

<p>
	<a class='btn btn-success btn-sm'
		href="/pic_category">
		Back
	</a>

	<a class='btn btn-success btn-sm'
		href="/index">
		Home
	</a>
</p>