<div class= <%= "contact" %>>

	<% if @error != nil %>
	  <b>Error: <%= @error %></b>
	<% end %>

	<div class='contact-title'>
		<h3>Contact Me:</h3>
	</div>

	<div class='contact-container'>
		<div class='row'>
			<div class='col-sm-8'>
				<h3>David Mowrer</h3>
				<h3>davidmowrer@gmail.com</h3>
				<h3>Twitter: David Mowrer @DavidMowrer1</h3>
				<h3>720-936-9219</h3>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<p>
		<a class='btn btn-success btn-sm'
			href="/index">
			Back
		</a>
	</p>

</div>