<div class='top'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-4'>
				<div class='top-logo'>Mowrer Photography</div>
				Landscape, National Parks, Fall Colors and more...
			</div>
			<br>
			<div class='col-sm-2'>
				<br>
				<br>
				<div class='btn btn-success btn-lg'>
					<a href="/pic_category">
					View Pictures &gt;&gt;</a>
				</div>
			</div>
			<div class='col-sm-2'>
				<div class=<'top-sites'>
					<a href="/about">About</a>
				</div>
			</div>
			<div class='col-sm-2'>
				<div class=<'top-sites'>
					<a href="/contact">Contact</a>
				</div>
			</div>
			<div class='col-sm-2'>
				<div class=<'top-sites'>
					<a href="/comment_blog">Comment Blog</a>
				</div>
			</div>			
		</div>
	</div>
</div>

<div class='picture'
	<div class='container'>
		<div class='row'>
			<div class='col-sm-2'>
				<img src="/images/index_pic01.jpg">
			</div>
		</div>
	</div>
</div>