<div class='top'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-4'>
				<div class='top-logo'>Mowrer Photography</div>
				Landscape, National Parks, Fall Colors and more...
			</div>
			<br>
			<div class='col-sm-2'>
				<div class=<'top-sites'>
					<a href="/blog_login">Create blog</a>
				</div>
			</div>	
			<div class='col-sm-2'>
				<div class=<'top-sites'>
					<a href="/blog">View blog</a>
				</div>
			</div>
			<div class='col-sm-2'>
				<div class=<'top-sites'>
					<a href="/contact">Contact</a>
				</div>
			</div>
			<div class='col-sm-2'>
				<div class=<'top-sites'>
					<a href="/about">About</a>
				</div>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class='col-sm-2'>
				<div class='btn btn-success btn-lg'>
					<a href="/pic_category">
					View Pictures</a>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class='picture'>
	
				<%= image_tag "index_pic01.jpg" %>
	
</div>