<div class= <%= "pic_cat" %>>

	<% if @error != nil %>
	  <b>Error: <%= @error %></b>
	<% end %>

	<br>
	<h3>Select a picture category</h3>

	<ul>
		<li>Alaska Pictures
			<a class='btn btn-success btn-sm'
			href="/alaska">
			Alaska
			</a></li>
		<br>

		<li>Albuquerque Balloon
			<a class='btn btn-success btn-sm'
			href="/albq_balloon">
			Albuquerque Balloon
			</a></li>
		<br>

		<li>Colorado Pictures
			<a class='btn btn-success btn-sm'
			href="/colorado">
			Colorado
			</a></li>
		<br>

		<li>Fall Colors
			<a class='btn btn-success btn-sm'
			href="/fall_colors">
			Fall Colors
			</a></li>
		<br>

		<li>Florida
			<a class='btn btn-success btn-sm'
			href="/florida">
			Florida
			</a></li>
		<br>

		<li>Jacksonville Air Show
			<a class='btn btn-success btn-sm'
			href="/jax_air_show">
			Jacksonville Air Show
			</a></li>
		<br>

		<li>Swooping
			<a class='btn btn-success btn-sm'
			href="/swooping">
			Swooping
			</a></li>
		<br>

		<li>Wild Flowers
			<a class='btn btn-success btn-sm'
			href="/wild_flowers">
			Wild Flowers
			</a></li>
		<br>

		<li>National Parks
			<a class='btn btn-success btn-sm'
			href="/select_national_parks">
			National Parks</a></li>
		<br>

		<li>Special Occasions
			<a class='btn btn-success btn-sm'
			href="/so_login">
			Special Occasions
			</a></li>
		<br>
	</ul>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		
	<p>
		<a class='btn btn-success btn-sm'
			href="/index">
			Home
		</a>
	</p>
</div>