<div class= "np_cat" 



<% if @error != nil %>
  <b>Error: <%= @error %></b>
<% end %>

<h1>Select a National Park</h1>
<br>

<ul>
	<li>Arches National Park
		<a class='btn btn-success btn-sm'
		href="/arches_np">
		Arches NP &gt;&gt;
		</a></li>
	<br>
	<li>Bryce Canyon National Park
		<a class='btn btn-success btn-sm'
		href="/bryce_canyon_np">
		Byrce Canyon NP &gt;&gt;
		</a></li>	
	<br>
	<li>Rocky Mountain National Park
		<a class='btn btn-success btn-sm'
		href="/rocky_mtn_np">
		Rocky Mtn NP &gt;&gt;
		</a></li>
</ul>

<br>
<p>
	<a class='btn btn-success btn-sm'
		href="/pic_category">
		Back &gt;&gt;
		</a>

	<a class='btn btn-success btn-sm'
			href="/index">
			Home &gt;&gt;
	</a>
</p>


</div>