<div class= <%= "np_cat" %>> 

	<% if @error != nil %>
	  <b>Error: <%= @error %></b>
	<% end %>
	<br>

	<h3>Select a National Park</h3>

	<ul>
		<li>Arches National Park
			<a class='btn btn-success btn-sm'
			href="/arches_np">
			Arches NP
			</a></li>
		<br>
		<li>Bryce Canyon National Park
			<a class='btn btn-success btn-sm'
			href="/bryce_canyon_np">
			Byrce Canyon NP
			</a></li>	
		<br>
		<li>Everglades National Park
			<a class='btn btn-success btn-sm'
			href="/everglades_np">
			Everglades NP
			</a></li>
		<br>
		<li>Grand Canyon National Park
			<a class='btn btn-success btn-sm'
			href="/grand_canyon_np">
			Grand Canyon NP
			</a></li>
		<br>
		<li>Mesa Verde National Park
			<a class='btn btn-success btn-sm'
			href="/mesa_verde_np">
			Mesa Verde NP
			</a></li>
		<br>							
		<li>Rocky Mountain National Park
			<a class='btn btn-success btn-sm'
			href="/rocky_mtn_np">
			Rocky Mtn NP
			</a></li>
		<br>
		<li>Valley Forge National Park
			<a class='btn btn-success btn-sm'
			href="/valley_forge_np">
			Valley Forge NP
			</a></li>
		<br>									
		<li>Yellowstone National Park
			<a class='btn btn-success btn-sm'
			href="/yellowstone_np">
			Yellowstone NP
			</a></li>
	</ul>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	
	<p>
		<a class='btn btn-success btn-sm'
			href="/pic_category">
			Back
			</a>

		<a class='btn btn-success btn-sm'
				href="/index">
				Home
		</a>
	</p>


</div>