<% if @error != nil %>
  <b>Error: <%= @error %></b>
<% end %>

<h1>Test Pictures</h1>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon01.jpg" height="185">
		<br>
		<a href="/images/albq_balloon02.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon03.jpg" height="185">
		<br>
		<a href="/images/albq_balloon04.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon05.jpg" height="185">
		<br>
		<a href="/images/albq_balloon06.jpg">
			 click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon07.jpg" height="185">
		<br>
		<a href="/images/albq_balloon08.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon09.jpg" height="185">
		<br>
		<a href="/images/albq_balloon10.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon11.jpg" height="185">
		<br>
		<a href="/images/albq_balloon12.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/bryce_np17.jpg" height="185">
		<br>
		<a href="/images/bryce_np18.jpg">
			 click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/rocky_mtn_np25.jpg" height="185">
		<br>
		<a href="/images/rocky_mtn_np_26.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon01.jpg" height="185">
		<br>
		<a href="/images/albq_balloon02.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon03.jpg" height="185">
		<br>
		<a href="/images/albq_balloon04.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon05.jpg" height="185">
		<br>
		<a href="/images/albq_balloon06.jpg">
			 click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
	    <img src="/images/albq_balloon07.jpg" height="185">
		<br>
		<a href="/images/albq_balloon08.jpg">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<p>	<a class='btn btn-success btn-sm'
		href="/pic_category">
		Back &gt;&gt;
	</a>

	<a class='btn btn-success btn-sm'
		href="/index">
		Home &gt;&gt;
	</a>
</p>