body{
  width: 1280px;
  padding: 10px;

}

.pic_cat {
 background-image: url("/images/pic_catbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

#photo {
  width: 100%;
}

#photo img {
  width: 100%;
}
.alaska {
 background-image: url("/images/alaskabg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.albq_balloon {
 background-image: url("/images/albq_balloonbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.colorado {
 background-image: url("/images/coloradobg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.fall_colors {
 background-image: url("/images/fall_colorsbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.jax_air_show {
 background-image: url("/images/jaxbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.swooping {
 background-image: url("/images/swoopingbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.wild_flowers {
 background-image: url("/images/wild_flowersbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.np_cat {
 background-image: url("/images/npbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.arches {
 background-image: url("/images/archesbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.bryce_canyon {
 background-image: url("/images/bryce_npbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.grand_canyon {
 background-image: url("/images/grand_canyonbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.rocky_mountain {
 background-image: url("/images/rocky_mtn_npbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.karrie10272007 {
 background-image: url("/images/karrie_weddingbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.mowrer08172003 {
 background-image: url("/images/mowrer1rubg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.blog {
 background-image: url("/images/blogbg.jpg"); 
 background-size: cover;
 font-family: sans-serif;
}

.top {
  background-color: blue;
  color: yellow;
  padding: 20px 50px 20px 50px;
}

.top-logo {
  font-size: 50pt;
  font-family: cursive;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.view_pictures {
  padding: 60px 0 0 0;
  background-color: white;
  color: white;
}

.picture {
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.picture img {
  width: 100%;
}

.top-views {
 background-color: blue;
  padding: 0px 0px 0px 0px;
  color: yellow;
}

.picture-views {
 background-color: blue;
  margin: 0px auto;
  color: white;
  text-align: center;
}

.np-views {
 background-color: blue;
  padding: 0px 0px 0px 300px;
  color: white;
}

.occasion-views {
 background-color: blue;
  padding: 0px 0px 0px 300px;
  color: white;
}

.blog-views {

  width: 975px; 
  height: 650px;   
  padding: 20px 50px 20px 50px;
}

.top-sites {
 background-color: white;
  padding: 0px 0px 0px 0px;
  color: white;
}

.col-sm-3 {
   padding: 0px 0px 0px 80px; 
}
         
.login-title {
  background-color: yellow;
  padding: 40px 40px 40px 600px;
}

.login-so {
  background-color: rgb(0,255,153);
  padding: 40px 40px 40px 600px;
}

.login-blog {
  background-color: rgb(0,255,153);
  padding: 40px 40px 40px 600px;
}

.blog-title {
  background-color: yellow;
  padding: 40px 40px 40px 600px;
}
.so_login {
  background-color: yellow;
  padding: 40px 40px 40px 650px;
}

.so_login {
  background-color: yellow;
  padding: 40px 40px 40px 650px;
}

.buttons {
  background-color: blue;
  padding: 10px 20px 10px 20px;
}

.a {
  color: red;
}

.b {
  color: red;
}

.h1 {
   color: purple;
   font-size:50;
}

.h3 {
  font-size: 19px;
}

.h2 {
  margin: 30px 0 30px 0;
}

.ul {
  color: red;
  font-size: 30px;
}

.Picture_container {
  width: 200px;
  height: 300px;
  border: 5px;
}


